header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

header a:hover {
  color: #7c7c7c;
}

header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header svg {
  font-size: 20px;
  margin-right: 10px;
}

header p {
  cursor: pointer;
}

.navlink-active {
  border-bottom: 2px solid rgb(255, 0, 0);
}
.navlink-offline {
  transition: .5s;
}

.navlink-offline:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
}

.search-input-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  width: 250px; /* ширина поисковой строки */
}

.search-input-header input[type="search"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-input-header input[type="search"]::placeholder {
  color: #ccc;
}



