header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header a:hover {
  color: #ccc;
}

header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header svg {
  font-size: 20px;
  margin-right: 10px;
}

header p {
  cursor: pointer;
}

.navlink-active {
  color: #fff;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 10px;
}

.bell-menu {
  position: relative;
}

.bell-menu:hover {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 10px;
}

.bell-menu svg {
  font-size: 20px;
}